:root {
    --normal: rgb(168, 167, 122, 1);
    --fire: rgb(238, 129, 48, 1);
    --water: rgb(99, 144, 240, 1);
    --electric: rgb(247, 208, 44, 1);
    --grass: rgb(122, 199, 76);
    --ice: rgb(150, 217, 214, 1);
    --fighting: rgb(194, 46, 40, 1);
    --poison: rgb(163, 62, 161, 1);
    --ground: rgb(226, 191, 101, 1);
    --flying: rgb(169, 143, 243, 1);
    --psychic: rgb(249, 85, 135, 1);
    --bug: rgb(166, 185, 26, 1);
    --rock: rgb(182, 161, 54, 1);
    --ghost: rgb(115, 87, 151, 1);
    --dragon: rgb(111, 53, 252, 1);
    --dark: rgb(112, 87, 70, 1);
    --steel: rgb(183, 183, 206, 1);
    --fairy: rgb(214, 133, 173, 1); 
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.pkm-list-panel {
    width: 40%;
    height: 80%;
    background-color: whitesmoke;
    border: 1px solid darkred;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pkm-list-panel ul {
    height: 80%;
    width: 80%;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pkm-list-panel li:hover {
    color : darkred;
    font-weight: bold;
}

.pkm-list-panel .btns {
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.pkm-list-panel li {
    cursor: pointer;
}

.pkm-details {
    width: 40%;
    height: 80%;
    background-color: whitesmoke;
    border: 1px solid darkred;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkm-details img {
    height: 40%;
}
