.urgent {
    background-color: tomato;
    color : white;
}

.not-urgent {
    background-color: olivedrab;
    color : white;
}

.card-title {
    display: flex;
    justify-content: space-between;
    
}

.card-desc {
    border-top: 1px solid white;
    padding : 0.5rem 0;
}

.card {
    padding: 0.5rem 1rem ;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    width: 30rem;
    min-height: 3rem;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
}

.develop {
    cursor : pointer ;
    user-select: none;
}

.hidden {
    display: none;
}